---
layout: default
---

<div class="home">
  
  <div class="home-titles">
    <h1 class="home-heading">We want to make handling of CSV files easy.</h1>
    <h2 class="home-subheading">Simple, fast and reliable. Also for very big files.</h1>
  </div>


  <ul class="tool-list">
    {% for tool in site.tool %}
      <li>

        <h2>
          <a class="tool-link" href="{{ tool.url | prepend: site.baseurl }}">{{ tool.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


  <h1 class="page-heading">Blog Posts</h1>

  <ul class="post-list">
    {% for post in site.blog %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>



</div>
