---
layout: default
site-title: "\U0001F44B HeyCSV - Free Solutions to all of your CSV File problems"
description: 'HeyCSV is a platform that helps you handling .csv files more effectively.
  In short: Free solutions to all your CSV file problems.'
---

<div class="home">
  
  <div class="home-titles">
    <h1 class="home-heading">We want to solve all your problems with CSV files.</h1>
  </div>


  {% assign tool_categories = site.collections | where:'title', 'Tools' %}
  {% for post in tool_categories %}
   {% for category in post.Categories %}
  

    <h2>{{ category }}</h2>

    <ul class="tool-list">
    {% assign sorted_tools = site.tool | sort:"position" %}
    {% assign tools = sorted_tools | where:'categories', category %}
    {% for tool in tools %}
      <li class="tool-box" style="background: {{ tool.color }}">
        <a href="{{ tool.url | prepend: site.baseurl }}">
            <span class="linkSpanner"></span>
          </a>
        <div class="tool-icon">
          <!-- <img class="icon-image" src="{{ site.url }}/assets/icons/csv.svg" alt="Icon - {{ tool.title }}" /> -->
        </div>  
        <div class="tool-content">
          <h3 class="tool-title">{{ tool.title }}</h3>
          <div>{{ tool.short-description }}</div>
        </div>
      </li>
    {% endfor %}
    </ul>
  
     {% endfor %} 
  {% endfor %} 


<h2>Latest Blog Posts</h2>

<ul class="post-list">
  {% assign sorted = site.blog | reverse %}
    {% for post in sorted limit:5 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
 </ul>


</div>
