---
layout: default
site-title: "\U0001F44B HeyCSV - Free Solutions to all of your CSV File problems"
---

<div class="home">
  
  <div class="home-titles">
    <h1 class="home-heading">We want to solve all your problems with CSV files.</h1>
    <h2 class="home-subheading">Simple, fast and reliable. Even for very big files.</h2>
  </div>


  <!-- create categories array-->
  {% assign categories_array = "" | split:"|" %}

  <!--Add each unique 'collection' category to the array-->
  {% for post in site.tool %}
      {% for category in post.categories %}
          {% assign categories_array = categories_array | push: category | uniq %}
      {% endfor %}
  {% endfor %}

  <!--Output the tools per category-->
  {% for category in categories_array %}
    <h2>{{ category }}</h2>

    <ul class="tool-list">
    {% assign sorted_tools = site.tool | sort:"position" %}
    {% assign tools = sorted_tools | where:'categories', category %}
    {% for tool in tools %}
      <li class="tool-box" style="background: {{ tool.color }}">
        <a href="{{ tool.url | prepend: site.baseurl }}">
            <span class="linkSpanner"></span>
          </a>
        <div class="tool-icon">
          <!-- <img class="icon-image" src="{{ site.url }}/assets/icons/csv.svg" alt="Icon - {{ tool.title }}" /> -->
        </div>  
        <div class="tool-content">
          <h3 class="tool-title">{{ tool.title }}</h3>
          <div>{{ tool.short-description }}</div>
        </div>
      </li>
    {% endfor %}
    </ul>
  {% endfor %}




</div>
